[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybadges = "*"
fastapi = "*"
aiohttp = "*"
fastapi-cachette = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn src.app:app --reload"
serve = "uvicorn src.app:app"